<% include ../partials/header %>
<% include ../partials/flash-messages %>
<div class="container">
        <div class="row">
                <div class="col-md-3">
                        <p class="lead"><%=camp.name%></p>
                        <div class="list-group">
                                <li class="list-group-item active">Info 1</li>
                                <li class="list-group-item">Info 2</li>
                                <li class="list-group-item">Info 3</li>
                        </div>
                        <div id="map"></div>
                </div>
                <div class="col-md-9">
                        <div class="card">
                                <img class="card-img-top" src="<%= camp.image %>" alt="Card image cap">
                                <div class="card-block">
                                        <h4 class="pull-right">$<%=camp.price%>/night</h4>
                                        <h4 class="card-title"><a href=""><%= camp.name %></a><br><small class="text-muted" style="font-size: 0.6em;">Submitted by <a href="/profile/<%=camp.author.id%>"><%=camp.author.username%></a>, <%= moment(camp.createdAt).fromNow() %></small></h4>
                                        <p class="card-text"><%- camp.desc %></p>
                                </div>
                        </div>
                        <div class="card bg-faded">
                                <div class="card-block">
                                        <div class="row">
                                                <div class="col-sm-3 center">
                                                        <% if(currentUser && (currentUser.isAdmin || camp.author.id.equals(currentUser.id))){ %>
                                                                <a href="/campgrounds/<%=camp._id%>/edit" class="btn btn-warning">Edit</a>
                                                        <% } %>
                                                </div>
                                                <div class="col-sm-3 center">
                                                        <button id="button_comment-add" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Comment</button>
                                                </div>
                                                <div class="col-sm-3 center">
                                                        <% if(currentUser && (currentUser.isAdmin || camp.author.id.equals(currentUser.id))) { %>
                                                        <form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
                                                                <button class="btn btn-danger">Delete</button>
                                                        </form>
                                                        <% } %>
                                                </div>
                                        </div>
                                </div>
                                <div class="container">
                                        <form id="form_comment-new" action="/campgrounds/<%=camp._id%>/comments" method="post">
                                                <div class="form-group row">
                                                      <div class="col-sm-12">
                                                        <textarea type="text" class="form-control" id="inputCommentText" name="comment[text]" placeholder="Insert Comment"></textarea>
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                        <button type="submit" class="btn btn-success btn-block">Add</button>
                                                </div>
                                        </form>
                                </div>
                                <% var d = new Date(); var userTimezoneOffset = d.getTimezoneOffset() * 60000; %>
                                <div id="comments-list">
                                        <% camp.comments.forEach(function(comment){ %>
                                                <div class="row">
                                                        <div class="col-md-12">
                                                                <div class="card">
                                                                        <div class="card-block">
                                                                                <% var button_like = "button-like" ; var icon_like = "fa-thumbs-o-up";
                                                                                if(currentUser && comment.likes.indexOf(currentUser._id)!=-1) {
                                                                                        button_like ="button-dislike"; icon_like = "fa-thumbs-o-down"; 
                                                                                } %> 
                                                                                <span><small class="text-muted pull-right"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;<%=moment(comment.date).fromNow()%></small>
                                                                                <span class="card-title"><strong><a href="/profile/<%=comment.author.id%>"><img style="max-width: 32px; border-radius: 50%;" src="<%=comment.author.image%>" alt="Author profile image">&nbsp;<%=comment.author.username%></a></strong></span></span>
                                                                                &nbsp;&nbsp;<span <% if(currentUser) { %> class=<%=button_like%>
                                                                                                <% } %>><%=comment.qtd_likes%>&nbsp;<i class="fa <%=icon_like%>" aria-hidden="true"></i></span>
                                                                                <p class="card-text"><%=comment.text%></p>
                                                                                <%  if (currentUser) {%>
                                                                                        <% if(currentUser.isAdmin || comment.author.id.equals(currentUser.id)) { %>
                                                                                                <form class="form_comment-delete" action="/campgrounds/<%=camp._id%>/comments/<%=comment._id%>" method="POST">
                                                                                                       <button class="btn btn-sm btn-danger pull-right">Delete</button>
                                                                                                </form>
                                                                                                <button class="btn btn-sm btn-warning pull-right button-edit">Edit</button>
                                                                                        <% } %>
                                                                                <% } %>
                                                                        </div>
                                                                         <div class="container">
                                                                                <form class="form_comment-edit" action="/campgrounds/<%=camp._id%>/comments/<%=comment._id%>" method="post">
                                                                                        <div class="form-group row">
                                                                                              <div class="col-sm-12">
                                                                                                <textarea type="text" class="form-control" id="inputCommentText" name="comment[text]"><%=comment.text%></textarea>
                                                                                              </div>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                        <button type="submit" class="btn btn-success btn-block">Update</button>
                                                                                        </div>
                                                                                </form>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        <% }) %>
                                </div>
                        </div>
                </div>
        </div>
</div>
<script>
  function initMap() {
    var lat = <%= camp.lat %>;
    var lng = <%= camp.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= camp.name %><br />
      <%= camp.location %></strong>
      <p><%= camp.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2Z50oFYL0Y7M7A4MZvdiYGusuEVKC9f0&callback=initMap"></script>
<% include ../partials/footer %>